@media screen and (max-width: 800px) {
    form {
        padding: 15px 30px !important;
        position: relative;
        /* left:33%; */
        top:12%;
        background-color:white !important;
        margin-left:10% !important;
        margin-right:10% !important;
        border-radius:8% !important;
    }
}
@media screen and (min-width: 800px) and  (max-width: 4000px) {
    form {
        padding: 15px 30px !important;
        position: relative;
        /* left:33%; */
        top:12%;
        width:33%;
        background-color:white !important;
        margin-left:auto !important;
        margin-right:auto !important;
        border-radius:8% !important;
    }
}

a {
    color: #217ecf;
    /* display: inline-block; */
    text-decoration: none;
    font-weight: 400;
    text-align: center;
}


.form-img{
    padding: 3px 10px 0px 0px ;
}
label{
    margin-bottom: 5px;
    margin-left: 5px;
}