/* For Tablets */
@media screen and (max-width: 1250px) {
    .align_right {
        top: 650px;
    }
}
@media screen and (min-width: 1250px) and  (max-width: 4000px) {
    .align_right {
        right: 0px;
    }
}

body{
    font-size:16px !important;
    background-image: url("planet.jpg");
    background-size:auto;
    background-repeat:repeat-y;
    margin-top:0px;
}

.btn-gradient {
    background-image: linear-gradient(to right, rgb(221, 26, 26), rgb(199, 135, 17));
    width: 200px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    margin: 20px;
    height: 45px;
    text-align: center;
    border: none;
    background-size: 200% 100%;
    border-radius: 50px;
    transition: all .4s ease-in-out;
        outline: none;
}
.btn-gradient:hover {
    background-position: 100% 0;
    transition: all .4s ease-in-out;
}

button.card-footer-item {
    background-image: linear-gradient(to bottom right, red, yellow) !important;
    border: 0px;
}

button.card-footer-item:focus {
    outline: none !important;
    outline-width: 0px;
    outline-color: transparent;
    box-shadow: none;
    border: 0px;
}

.card {
    width: 250px !important;
    margin: 13px 50px 50px 50px;
    display: inline-block !important;
    color: wheat;
    border: 1px solid orange;
    background-color: rgb(20, 19, 19) !important;
    -webkit-box-shadow: 0px 0px 10px 1px gray;
    -moz-box-shadow: 0px 0px 10px 1px gray;
    box-shadow: 0px 0px 10px 1px gray;
}

.card-body,
.card-title {
    color: wheat !important;
    font-size: 20px;
}

.card-title {
    text-align: center;
}
.card-text{
	color: 	rgb(255,69,0);
	margin-left:-11px;
}
.card-footer {
    width: 100% !important;
    text-align: center;
    vertical-align: middle;
    padding: 0 0 !important;
    position: relative;
    height: 50px !important;
    background-color: rgb(20, 19, 19) ;
    border-top:0px;
    font-size:16px;
}

.card-footer-item {
    height: 100% !important;
    position: relative;
    width: 20% !important;
    vertical-align: middle;
}

.card-img-top {
    position: relative;
    width: 96% !important;
    height: 250px;
    margin: 5px 5px 5px 5px;
}

.container1 {
    margin:50px;
    padding: 20px;
    background-color: rgb(53, 58, 53) ;
    color: white ;
    border-radius: 25px;
    display: inline-block;
    margin-bottom: 10px;
    position:relative;
}

.display-4{
    font-size:30px !important;
    padding:10px;
}

.dropdown-item:hover{
    background: linear-gradient(to bottom right, red, yellow);
    color:white;
}

.navbar1 {
    position:fixed;
    z-index:3;
    width:100%;
    font-size: large;
}

.nav-item {
    /* font-size: 1em; */
}

.nav-link{
    color:white !important;
}

.nav-link .active{
    background: linear-gradient(to bottom right, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.nav-link:hover{
    /* color:rgb(183, 239, 255) !important; */
    background: linear-gradient(to bottom right, red, yellow);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.navbar-collapse{
    background-color: #343a40 ;
    margin-left:-16px;
    padding-left:15px;
}

#poza_profil {
    width: 45px;
    height: 45px;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    /* background-color: #009688; */
    background-color:#0c5e87;
    font-size:30px;
    color:#F0F8FF;
    display: table-cell;
}

#poza_profil:hover{
    color:rgb(255, 255, 255);
    background: linear-gradient(to bottom right, red, yellow);
}

.table td{
     vertical-align:middle;
}
.t_img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

svg:hover{
    fill:#ec4a05 !important;
}